.trivia
  p Answered: {{ trivia.answered }} / {{ trivia.total }}
  
  img(src="res/img/thumb/{{ trivia.question.answer.thumb }}")

  ul
    li(ng-repeat='option in trivia.question.options')
      button(ng-click='choose($index)') Select
      span {{ option.name }}
  
  p Tip: {{ trivia.question.answer.name }}